@font-face {
    font-family: "High Cruiser";
    src: url('highcruiser.otf');
}

@font-face {
    font-family: "Pixel 1";
    src: url('pixel1.TTF');
}

@font-face {
    font-family: "Pixel 2";
    src: url('pixel2.TTF');
}

@font-face {
    font-family: "Pixel 3";
    src: url('pixel3.TTF');
}

@font-face {
    font-family: "Pixel 4";
    src: url('pixel4.ttf');
}

@font-face {
    src: url('pixelmix.ttf');
}

@font-face {
    src: url('pixelmix_bold.ttf');
}