@font-face {
    font-family: "High Cruiser";
    src: url('highcruiser.otf');
}

@font-face {
    font-family: "Pixel 1";
    src: url('pixel1.TTF');
}

@font-face {
    font-family: "Pixel 2";
    src: url('pixel2.TTF');
}

@font-face {
    font-family: "Pixel 3";
    src: url('pixel3.TTF');
}

@font-face {
    font-family: "Pixel 4";
    src: url('pixel4.ttf');
}

@font-face {
    src: url('pixelmix.ttf');
}

@font-face {
    src: url('pixelmix_bold.ttf');
}

.button {
    -fx-background-color: #f1ebebd9; /* ~85% opacity */
    -fx-text-fill: #000000;
    -fx-font-family: "pixelmix Regular";
    -fx-font-size: 16px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #e6dfdab2; /* ~74% opacity */
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.button:pressed {
    -fx-background-color: #6e99e8ff; /* 100% opacity */
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}